.button {
    padding: 10px;
    margin: 5px;
    border: none;
    text-transform: uppercase;
    border-radius: 8px;
}

.button:active {
    box-shadow: 0 5px rgb(134, 134, 134);
    transform: translateY(3px);
}
